<a href="https://colab.research.google.com/github/sridhar-maddi/Sridhar_INFO5731_FALL2022/blob/main/In_class_exercise_03_10062022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (10/06/2022, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:
I think the most basic features lay good foundation and these can be rendered further more.The text mining tasks such as
Number of sentences, Number of words, Number of characters, Number of stopwords, Lower casing, Punctuation removal are the features which can be useful to
build Machine Learning model.These are the base for NLP.We all know that NLP is used in search assistants like Alexa,Siri,etc.I think these all make this 
interesting features for to build a Machine learning model.






'''

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [ ]:
# You code here (Please add comments in the code):
from six.moves import urllib
import pandas as pd

txt_arry = []
url = "https://github.com/sridhar-maddi/Sridhar_INFO5731_FALL2022/blob/main/data.txt"
text_file = urllib.request.urlopen(url)

for line in text_file:
  decoded_data = line.decode("utf-8").replace('\r\n', '')
  if decoded_data: txt_arry.append(decoded_data)
df = pd.DataFrame (txt_arry, columns = ['Raw Text'])
print(df)

         Raw Text
0              \n
1              \n
2              \n
3              \n
4              \n
...           ...
2282           \n
2283           \n
2284    </body>\n
2285    </html>\n
2286           \n

[2287 rows x 1 columns]

In [ ]:
df['Number of Sentences'] = df['Raw Text'].apply(lambda x: len(str(x).split(".")))
df

         Raw Text  Number of Sentences
0              \n                    1
1              \n                    1
2              \n                    1
3              \n                    1
4              \n                    1
...           ...                  ...
2282           \n                    1
2283           \n                    1
2284    </body>\n                    1
2285    </html>\n                    1
2286           \n                    1

[2287 rows x 2 columns]

In [ ]:
df['Number of Words'] = df['Raw Text'].apply(lambda x: len(str(x).split(" ")))
df

         Raw Text  Number of Sentences  Number of Words
0              \n                    1                1
1              \n                    1                1
2              \n                    1                1
3              \n                    1                1
4              \n                    1                1
...           ...                  ...              ...
2282           \n                    1                1
2283           \n                    1                1
2284    </body>\n                    1                3
2285    </html>\n                    1                1
2286           \n                    1                1

[2287 rows x 3 columns]

In [ ]:
df['Number of Characters'] = df['Raw Text'].str.len()
df

         Raw Text  Number of Sentences  Number of Words  Number of Characters
0              \n                    1                1                     1
1              \n                    1                1                     1
2              \n                    1                1                     1
3              \n                    1                1                     1
4              \n                    1                1                     1
...           ...                  ...              ...                   ...
2282           \n                    1                1                     1
2283           \n                    1                1                     1
2284    </body>\n                    1                3                    10
2285    </html>\n                    1                1                     8
2286           \n                    1                1                     1

[2287 rows x 4 columns]

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
  

import nltk
stop = stopwords.words('english')

df['Number of Stopwords'] = df['Raw Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

,Raw Text,Number of Sentences,Number of Words,Number of Characters,Number of Stopwords
0,\n,1,1,1,0
1,\n,1,1,1,0
2,\n,1,1,1,0
3,\n,1,1,1,0
4,\n,1,1,1,0
...,...,...,...,...,...
2282,\n,1,1,1,0
2283,\n,1,1,1,0
2284,</body>\n,1,3,10,0
2285,</html>\n,1,1,8,0
2286,\n,1,1,1,0

In [ ]:
df['Lower Case'] = df['Raw Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df

,Raw Text,Number of Sentences,Number of Words,Number of Characters,Number of Stopwords,Lower Case
0,\n,1,1,1,0,
1,\n,1,1,1,0,
2,\n,1,1,1,0,
3,\n,1,1,1,0,
4,\n,1,1,1,0,
...,...,...,...,...,...,...
2282,\n,1,1,1,0,
2283,\n,1,1,1,0,
2284,</body>\n,1,3,10,0,</body>
2285,</html>\n,1,1,8,0,</html>
2286,\n,1,1,1,0,

In [ ]:
df['Removal of Punctuation'] = df['Lower Case'].str.replace('[^\w\s]','')
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

,Raw Text,Number of Sentences,Number of Words,Number of Characters,Number of Stopwords,Lower Case,Removal of Punctuation
0,\n,1,1,1,0,,
1,\n,1,1,1,0,,
2,\n,1,1,1,0,,
3,\n,1,1,1,0,,
4,\n,1,1,1,0,,
...,...,...,...,...,...,...,...
2282,\n,1,1,1,0,,
2283,\n,1,1,1,0,,
2284,</body>\n,1,3,10,0,</body>,body
2285,</html>\n,1,1,8,0,</html>,html
2286,\n,1,1,1,0,,

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [1]:
# You code here (Please add comments in the code):
import numpy as np
import matplotlib.pyplot as plt
import tensorflow_datasets as tfds
import tensorflow as tf

tfds.disable_progress_bar()

In [2]:
# Graph plot utility
def plot_graphs(history, metric):
  plt.plot(history.history[metric])
  plt.plot(history.history['val_'+metric], '')
  plt.xlabel("Epochs")
  plt.ylabel(metric)
  plt.legend([metric, 'val_'+metric])

In [3]:
# Downlading data from tfds and performing test train split
dataset, info = tfds.load('imdb_reviews', with_info=True,
                          as_supervised=True)
train_dataset, test_dataset = dataset['train'], dataset['test']

train_dataset.element_spec

Downloading and preparing dataset 80.23 MiB (download: 80.23 MiB, generated: Unknown size, total: 80.23 MiB) to ~/tensorflow_datasets/imdb_reviews/plain_text/1.0.0...
Dataset imdb_reviews downloaded and prepared to ~/tensorflow_datasets/imdb_reviews/plain_text/1.0.0. Subsequent calls will reuse this data.

(TensorSpec(shape=(), dtype=tf.string, name=None),
 TensorSpec(shape=(), dtype=tf.int64, name=None))

In [4]:
# Sample data point
for example, label in train_dataset.take(1):
  print('text: ', example.numpy())
  print('label: ', label.numpy())

text:  b"This was an absolutely terrible movie. Don't be lured in by Christopher Walken or Michael Ironside. Both are great actors, but this must simply be their worst role in history. Even their great acting could not redeem this movie's ridiculous storyline. This movie is an early nineties US propaganda piece. The most pathetic scenes were those when the Columbian rebels were making their cases for revolutions. Maria Conchita Alonso appeared phony, and her pseudo-love affair with Walken was nothing but a pathetic emotional plug in a movie that was devoid of any real meaning. I am disappointed that there are movies like this, ruining actor's like Christopher Walken's good name. I could barely sit through it."
label:  0

In [5]:
# Setting buffer and batch sizes
BUFFER_SIZE = 10000
BATCH_SIZE = 64

In [6]:
# Shuffling and autotuning data
train_dataset = train_dataset.shuffle(BUFFER_SIZE).batch(BATCH_SIZE).prefetch(tf.data.AUTOTUNE)
test_dataset = test_dataset.batch(BATCH_SIZE).prefetch(tf.data.AUTOTUNE)

In [7]:
# Sample data points after above operations
for example, label in train_dataset.take(1):
  print('texts: ', example.numpy()[:3])
  print()
  print('labels: ', label.numpy()[:3])

texts:  [b'My guess is that this director/writer had something to say. Let\'s see, what it could have been... a. Frog storms would be creepy? b. can I get someone like Tom Cruise to say the "C" word many times and look like a bad Patrick Rafter? c. Cast my wife and get her to say the "F" word every 2 seconds. This aside I really liked the beginning and the frog storm. The rest was a relentless, over-long (under-edited), over-indulgent failure. Glad so many of you enjoyed it! <br /><br />'
 b'I can not believe I wasted my money to rent this movie. I thought it was a porn flick when it started and it never got any better. The acting, the music drowning out the actors. Horrible. Save your money! You have to read the movie all the way through b\\c they knew the music would drowned out the speaking lines. I never got the part about the slaughterhouse or the need to continue to show cows and pigs being butchered. What did that have to do with the "real" BTK killer? I understand why there were no famous actors\\actresses in this movie. The script would have turned me away within the first page of reading. You would be better off watching paint dry.'
 b"While this film certainly does possess the stench of a bad film, it's surprisingly watchable on several levels. First, for old movie fans, it's interesting to see the leading role played by Dean Jagger (no relation to Mick). While Jagger later went on to a very respectable role as a supporting actor (even garnering the Oscar in this category for 12 O'CLOCK HIGH), here his performance is truly unique since he actually has a full head of hair (I never saw him this way before) and because he was by far the worst actor in the film. This film just goes to show that if an actor cannot act in his earlier films doesn't mean he can't eventually learn to be a great actor. Another good example of this phenomenon is Paul Newman, whose first movie (THE SILVER CHALICE) is considered one of the worst films of the 1950s.<br /><br />A second reason to watch the film is the shear cheesiness of it all. The writing is bad, the acting is bad and the special effects are bad. For example, when Jagger and an unnamed Cambodian are wading through the water, it's obvious they are really just walking in place and the background is poorly projected behind them. Plus, once they leave the water, their costumes are 100% dry!!! Horrid continuity and mindlessly bad dialog abounds throughout the film--so much so that it's hard to imagine why they didn't ask Bela Lugosi or George Zucco to star in the film--since both of them starred in many grade-z horror films. In many ways, this would be a perfect example for a film class on how NOT to make a film.<br /><br />So, while giving it a 3 is probably a bit over-generous, it's fun to laugh at and short so it's worth a look for bad film fans."]

labels:  [0 0 0]

In [8]:
# Defining vocab size and encoding
VOCAB_SIZE = 1000
encoder = tf.keras.layers.TextVectorization(
    max_tokens=VOCAB_SIZE)
encoder.adapt(train_dataset.map(lambda text, label: text))

In [9]:
# Vocab and smaples
vocab = np.array(encoder.get_vocabulary())
vocab[:20]

array(['', '[UNK]', 'the', 'and', 'a', 'of', 'to', 'is', 'in', 'it', 'i',
       'this', 'that', 'br', 'was', 'as', 'for', 'with', 'movie', 'but'],
      dtype='<U14')

In [10]:
encoded_example = encoder(example)[:3].numpy()
encoded_example

array([[ 56, 479,   7, ...,   0,   0,   0],
       [ 10,  69,  22, ...,   0,   0,   0],
       [131,  11,  20, ...,   0,   0,   0]])